<img
  class="close"
  src="assets/img/close.svg"
  alt="close"
  (click)="closePost()"
/>
<div class="content">
  <ng-container *ngIf="post$ | async">
    <div class="post">
      <img class="post__image" [src]="postImageURL" />
      <h2 class="post__title">{{ (post$ | async).title }}</h2>
      <p class="post__body">{{ (post$ | async).body }}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="loading$ | async; else loaded">
    <app-spinner></app-spinner>
  </ng-container>
  <ng-template #loaded>
    <ng-container *ngIf="error$ | async; else noError">
      <p class="error">Error loading comments!</p>
    </ng-container>
    <ng-template #noError>
      <ng-container *ngIf="((comments$ | async) || []).length">
        <div class="comment" *ngFor="let comment of comments$ | async">
          <span class="comment__name">{{ comment.name }}</span>
          <p class="comment__body">{{ comment.body }}</p>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
</div>
