<img
  class="close"
  src="assets/img/close.svg"
  [alt]="'USER_POST.CLOSE_ALT' | translate"
  (click)="closePost()"
/>
<div class="content">
  <ng-container *ngIf="post$ | async; let post">
    <div class="post">
      <img
        class="post__image"
        [src]="postImageURL"
        [alt]="'USER_POST.POST_IMAGE_ALT' | translate"
      />
      <h2 class="post__title">{{ post.title }}</h2>
      <p class="post__body">{{ post.body }}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="loading$ | async; else loaded">
    <app-spinner></app-spinner>
  </ng-container>
  <ng-template #loaded>
    <ng-container *ngIf="error$ | async; else noError">
      <app-error (tryAgain)="retryLoadingComments()">
        <span class="error__message">
          {{ 'USER_POST.LOAD_ERROR' | translate }}
        </span>
      </app-error>
    </ng-container>
    <ng-template #noError>
      <ng-container *ngIf="((comments$ | async) || []).length">
        <div class="comment" *ngFor="let comment of comments$ | async">
          <span class="comment__name">{{ comment.name }}</span>
          <p class="comment__body">{{ comment.body }}</p>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
</div>
