:host {
  position: relative;

  width: 100%;
  padding: 2rem;

  background-color: var(--color-light-shade);
  border-radius: 1rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: 2rem;
  height: 2rem;

  cursor: pointer;
}

.content {
  height: 100%;
  overflow: auto;

  font-size: 1.6rem;
}

.post {
  margin-bottom: 3rem;

  text-align: center;

  > * {
    max-width: 80%;
  }

  &__image {
    display: block;
    margin: 0 auto 2rem;
    padding: 1rem;

    background-color: var(--color-primary);
  }

  &__title,
  &__body {
    display: block;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 2rem;

    font-weight: 300;
    font-size: 2.5rem;
  }
}

.comment {
  display: block;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;

  background-color: var(--color-white);
  border-radius: 1.5rem;

  &__name {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;

    font-weight: 600;
    text-align: center;
  }
}

.error {
  margin-top: 1rem;

  color: var(--color-warning);
  font-size: 2rem;
  text-align: center;
}
