:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;

  color: var(--color-light-shade);

  background-color: var(--color-primary);
}

h1 {
  color: inherit;
  font-size: 3.5rem;
}

button {
  height: min-content;
  padding: 0.5rem 1.5rem;

  color: inherit;
  font-size: 1.5rem;
  font-style: italic;

  background-color: var(--color-light-accent);

  border: 0;

  border-radius: 2rem;
  outline: none;

  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 2rem var(--color-box-shadow);
    transform: translateY(-3px);
  }

  &:active,
  &:focus {
    box-shadow: 0 0.5rem 1rem var(--color-box-shadow);
    transform: translateY(0);
  }
}
