// GLOBAL RESET
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// GLOBAL DEFINITIONS
html {
  box-sizing: border-box;

  font-size: 62.5%; // 1rem = 10px
}

body {
  min-height: 100vh;

  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
