:root {
  --color-primary: #11b6e5;
  --color-light-accent: #90979b;
  --color-dark-accent: #927a6a;
  --color-light-shade: #f2f4f4;
  --color-dark-shade: #1d2027;

  --color-success: #3ab17d;
  --color-warning: #b8a145;
  --color-danger: #f44336;
}
