:root {
  --color-primary: #11b6e5;
  --color-accent-1: #f87060;
  --color-accent-2: #3ddc97;
  --color-light-shade: #f2f4f4;
  --color-dark-shade: #1d2027;
  --color-white: #fff;
  --color-black: #000;

  --color-success: #3ab17d;
  --color-warning: #b8a145;
  --color-danger: #f44336;

  --color-box-shadow: rgba(0, 0, 0, 0.2);
}
