<ng-container *ngIf="user$ | async; let user">
  <div class="banner">
    <div class="banner__picture-container">
      <img class="banner__picture" [src]="user.pictureURL" alt="User Picture" />
    </div>
    <span class="banner__username">
      {{ user.username }}
    </span>
  </div>

  <section class="general">
    <h2 class="section-header">About Me</h2>
    <div class="general__container">
      <img class="general__icon" src="assets/img/v-card.svg" alt="Card Icon" />
      <span class="general__value">
        {{ user.name }}
      </span>
      <img class="general__icon" src="assets/img/phone.svg" alt="Phone Icon" />
      <span class="general__value">
        {{ user.phone }}
      </span>
      <img
        class="general__icon"
        src="assets/img/network.svg"
        alt="Website Icon"
      />
      <span class="general__value">
        {{ user.website }}
      </span>
      <img class="general__icon" src="assets/img/mail.svg" alt="Email Icon" />
      <span class="general__value">
        {{ user.email }}
      </span>
    </div>
  </section>

  <section class="address">
    <h2 class="section-header section-header--address">Enjoying Life At</h2>
    <span class="address__value">
      {{ user.address.street }}
    </span>
    <span class="address__value">
      {{ user.address.suite }}
    </span>
    <span class="address__value">
      {{ user.address.city }}
    </span>
    <span class="address__value">
      {{ user.address.zipcode }}
    </span>
    <span class="address__value">
      {{ user.address.geo.lat }} | {{ user.address.geo.lng }}
    </span>
  </section>

  <section class="company">
    <div class="company__container">
      <h2 class="section-header">Building Awesome Projects With</h2>
      <img
        class="company__image"
        src="assets/img/company-illustration.jpg"
        alt="Company Section Picture"
      />
      <div class="company__info-container">
        <span class="company__info-value company__info-value--name">
          {{ user.company.name }}
        </span>
        <span class="company__info-value company__info-value--catchPhrase">
          &ldquo;{{ user.company.catchPhrase }}&rdquo;
        </span>
        <span class="company__info-value company__info-value--bs">
          {{ user.company.bs }}
        </span>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="loading$ | async; else loaded">
  <app-spinner></app-spinner>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="error$ | async; else noError">
    <p class="error">Error loading posts!</p>
  </ng-container>

  <ng-template #noError>
    <section class="post-container" *ngIf="!!(posts$ | async).length">
      <h2 class="section-header">What I've Been Thinking About</h2>
      <span
        class="post"
        *ngFor="let post of posts$ | async"
        (click)="handlePostSelection(post.id)"
      >
        {{ post.title }}
      </span>
    </section>
  </ng-template>
</ng-template>
