$general-section-index: 3;
$address-section-index: calc(#{$general-section-index} - 1);

:host {
  display: block;
  padding: 2rem;

  background-color: var(--color-light-shade);
}

section {
  position: relative;

  padding: 2rem;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.section-header {
  margin-bottom: 2rem;

  color: var(--color-primary);
  font-size: 2.5rem;
  text-align: center;

  &--address {
    width: max-content;
    margin: 2rem auto 6.5rem;
    padding: 0 1.5rem;

    border-radius: 1.5rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-dark-shade));

  &__picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21rem;
    height: 21rem;

    background-color: var(--color-white);
  }

  &__picture {
    width: 20rem;
    height: 20rem;

    object-fit: cover;
  }

  &__picture-container,
  &__picture {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }

  &__username {
    display: block;
    margin-top: 2rem;

    color: var(--color-white);
    font-weight: 300;
    font-size: 3rem;
  }
}

.general,
.company {
  background-color: var(--color-white);
}

.general {
  z-index: $general-section-index;

  &__container {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem 1fr;
    gap: 2rem;
    padding: 2rem 7rem 10rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;

    filter: invert(72%) sepia(69%) saturate(432%) hue-rotate(95deg) brightness(92%) contrast(87%);
  }

  &__value {
    width: min-content;
    padding: 0 1.5rem;

    font-size: 1.6rem;
    white-space: nowrap;

    background-color: var(--color-light-shade);
    border-radius: 1.5rem;
  }
}

.address {
  top: -75px;
  z-index: $address-section-index;

  height: 575px;
  padding-top: 75px;

  background-image: url('../../../../assets/img/address-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  > * {
    background-color: rgba(#fff, 0.5);
  }

  &__value {
    display: block;
    width: max-content;
    margin: 2rem auto;
    padding: 0 1.5rem;

    font-size: 1.6rem;

    border-radius: 1.5rem;
  }
}

.post-container {
  margin-top: 20px;
}

.post {
  width: 500px;
  margin: 10px;
  padding: 5px;

  border: 1px solid #eee;

  border-radius: 5px;

  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.error {
  margin-top: 1rem;

  color: #f00;
  font-size: 2rem;
  text-align: center;
}
