span {
  display: block;
}

.post-container {
  margin-top: 20px;
}

.post {
  width: 500px;
  margin: 10px;
  padding: 5px;

  border: 1px solid #eee;

  border-radius: 5px;

  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.error {
  margin-top: 1rem;

  color: #f00;
  font-size: 2rem;
  text-align: center;
}
