:host {
  display: block;
  padding: 2rem;

  background-color: var(--color-light-shade);
}

section {
  padding: 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-dark-shade));

  &__picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21rem;
    height: 21rem;

    background-color: var(--color-white);
  }

  &__picture {
    width: 20rem;
    height: 20rem;
  }

  &__picture-container,
  &__picture {
    clip-path: circle(50% at 50% 50%);
  }

  &__username {
    display: block;
    margin-top: 2rem;

    color: var(--color-white);
    font-size: 3rem;
  }
}

.general,
.company {
  background-color: var(--color-white);
}

.general {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem 1fr;
  gap: 2rem;
  padding: 5rem 7rem 7rem;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  &__icon {
    width: 2.5rem;
    height: 2.5rem;

    filter: invert(72%) sepia(69%) saturate(432%) hue-rotate(95deg) brightness(92%) contrast(87%);
  }

  &__value {
    width: min-content;
    padding: 0 1.5rem;

    font-size: 1.6rem;
    white-space: nowrap;

    background-color: var(--color-light-shade);
    border-radius: 1.5rem;
  }
}

.post-container {
  margin-top: 20px;
}

.post {
  width: 500px;
  margin: 10px;
  padding: 5px;

  border: 1px solid #eee;

  border-radius: 5px;

  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.error {
  margin-top: 1rem;

  color: #f00;
  font-size: 2rem;
  text-align: center;
}
