:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  background-color: var(--color-light-shade);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.error__message {
  color: var(--color-warning);
  font-size: 2rem;
  text-align: center;
}
